<!DOCTYPE html>
<head>
  <title>You have been framed :)</title>
  <meta charset="utf-8">
 </head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"> </script>
<script src="../assets/script.js"> </script>

<body>
  <pre id="json"></pre>
</body>

</html>